.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-48:hover{
    font-size: 60px;
    color: #80432b;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fixed-bottom span:hover{
    cursor: pointer;
}